body {
    background-color: #181A1B;
}

h1, h2, h3, h4 {
    text-align: center;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    color: #BFBDBB;
}

h3 a {
    color: #BFBDBB;
}
h3 a:hover {
    color: #FFF;
}
p {
    font-family: serif;
}

img {
    width: auto ;
    max-width: 100% ;
    height: auto ;
  }
figure {
    width: auto ;
    max-width: 900% ;
    height: auto ;}
/* video {
        display:none;
} */

.content {
    color: #fff;
    margin: 40px auto;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
    font-size: 18px;
    color: #FFF;
    padding: 10px;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 500px;
    margin: 0.25em 0;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
    color: #EEE;
}

@media screen and (max-width: 600px){
.content {
    max-width: 100vh;
    /* max-height: 100vh; */
}
figure {
    max-width: fit-content;
}
video {
    display: none;
}
iframe {
    max-width: fit-content;
}
blockquote {
    max-width: fit-content;
}

}
